<div class="container">
  
  <div class="contet">
    <div class="image">
      <span>NEW</span>
      <img src="http://lorempixel.com/615/300/city/9/" alt="" />
    </div>
    <div class="desc">
      <span class="type">
        <i class="fa fa-file-text"></i>
      </span>
      
      <h1>What is Lorem Ipsum?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eveniet hic eaque neque explicabo architecto rerum porro cupiditate dignissimos ratione doloribus veritatis maiores sed consequuntur totam nostrum inventore ex fugit... <a href="#">Read more</a></p>
      
      <div class="share">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-share-square-o"></i> 569 Shares
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-eye"></i> 3,152 Views
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-comment"></i> 21 Comments
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>