<header class="header-area">
  <!-- site-navbar start -->
  <div class="navbar-area">
    <div class="container">
      <nav class="site-navbar">
        <!-- site logo -->
        <a href="#home" class="site-logo">NewsDesk</a>

        <!-- site menu/nav -->
        <ul class="m-auto">
          <li><a href="#">home</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">service</a></li>
          <li><a href="#">contact</a></li>
          <li></li>
        </ul>

        <ul>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add A Blog
          </button>
        </ul>

        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div><!-- navbar-area end -->

  <div class="intro-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <app-users></app-users>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <form [formGroup]="formValue">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Title</label>
                      <input type="text" formControlName="title" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Blog Title">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Type</label>
                      <input type="text" formControlName="type" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Blog Type">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Description</label>
                      <input type="text" formControlName="description" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Blog Description">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Author</label>
                      <input type="text" formControlName="author" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Author">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)="postNewsData()">Save changes</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <app-news></app-news>

        </div>
      </div>

    </div>
  </div>
</header>