<div class="col-sm-12 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean
      lacinia bibendum nulla sed consectetur.</p>
  </div>
  <div class="">
    <div class="blog-sidebar sidebar-module">
      <h2>What's Hot</h2>
      <ul *ngFor="let post of news">
        <li>
          <div class="row">
            <div class="col-10">
              <a href="#">
                <h3>{{post.name}}</h3>
              </a>
            </div>
            <div class="col-2">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
            </div>
          </div>
        </li>
      </ul>
      <img
        src="https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt="" />
    </div>

    <div class="content">
      <div class="image">
        <span>NEW</span>
        <img src="http://lorempixel.com/615/300/city/9/" alt="" />
      </div>
    </div>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->