<div class="col-sm-12 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean
      lacinia bibendum nulla sed consectetur.</p>
  </div>
  <div class="containe">
    <div class="blog-sidebar">
      <h2>What's Hot</h2>
      <ul>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/70/70/sports/1/" alt="" />
            <h3>A New York doesn't necessary come from..</h3>
            <span>3 minutes ago</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/70/70/sports/4/" alt="" />
            <h3>A New York doesn't necessary take cab..</h3>
            <span>3 hours ago</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/70/70/sports/5/" alt="" />
            <h3>A New York doesn't necessary pay fee..</h3>
            <span>6 hours ago</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/70/70/sports/2/" alt="" />
            <h3>A New York doesn't necessary drink beer..</h3>
            <span>10 hours ago</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="http://lorempixel.com/70/70/sports/3/" alt="" />
            <h3>A New York doesn't necessary come from..</h3>
            <span>1 day ago</span>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="content">
      <div class="image">
        <span>NEW</span>
        <img src="http://lorempixel.com/615/300/city/9/" alt="" />
      </div>
      <div class="desc">
        <span class="type">
          <i class="fa fa-file-text"></i>
        </span>
        
        <h1>What is Lorem Ipsum?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eveniet hic eaque neque explicabo architecto rerum porro cupiditate dignissimos ratione doloribus veritatis maiores sed consequuntur totam nostrum inventore ex fugit... <a href="#">Read more</a></p>
        
        <div class="share">
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-share-square-o"></i> 569 Shares
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-eye"></i> 3,152 Views
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-comment"></i> 21 Comments
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->