/* Sidebar modules for boxing content */
.sidebar-module {
  background: #fff;
  padding: 15px;
  margin: 0 -15px 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.menu {
  background: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 12pt;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

  .btn {
    background: #57cbc8 !important;
    color: #fff !important;
    cursor: pointer;
    border: none !important;
    font-size: 13px;
    /* font-weight: bold; */
    text-transform: uppercase;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
