.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.btn{
  background: #57CBC8  !important;
  color: #fff !important;
  cursor: pointer;
  border: none !important;
  font-size: 13px;
  /* font-weight: bold; */
  text-transform: uppercase;
  padding: 0.625rem 0.9 375rem;
  margin-top: 0.3125rem;
}